<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>受講生情報更新</title>
</head>
<body>
<h1>受講生情報更新</h1>
<form th:action="@{/updateStudent}" th:object="${studentDetail}" method="post">
  <input type="hidden" th:field="*{student.id}">
  <div>
    <label for="name">名前</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
  </div>
  <div>
    <label for="hurigana">フリガナ</label>
    <input type="text" id="hurigana" th:field="*{student.hurigana}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
  </div>
  <div>
    <label for="age">年齢</label>
    <input type="text" id="age" th:field="*{student.age}" required/>
  </div>
  <div>
    <label for="email">メールアドレス</label>
    <input type="text" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="area">地域</label>
    <input type="text" id="area" th:field="*{student.area}"/>
  </div>
  <div>
    <label for="gender">性別</label>
    <input type="text" id="gender" th:field="*{student.gender}"/>
  </div>
  <div>
    <label for="remark">備考</label>
    <input type="text" id="remark" th:field="*{student.remark}"/>
  </div>
  <div th:each="course, stat : *{studentCourses}">
    <input type="hidden" th:name="|studentCourses[${stat.index}].id|" th:value="${course.id}"/>
    <div>
      <label>コース</label>
      <input type="text" th:name="|studentCourses[${stat.index}].course|"
             th:value="${course.course}"/>
    </div>
    <div>
      <label>開始日</label>
      <input type="date" th:name="|studentCourses[${stat.index}].startDate|"
             th:value="${#temporals.format(course.startDate, 'yyyy-MM-dd')}"/>
    </div>
    <div>
      <label>終了日</label>
      <input type="date" th:name="|studentCourses[${stat.index}].endDate|"
             th:value="${#temporals.format(course.endDate, 'yyyy-MM-dd')}"/>
    </div>
  </div>
  <div>
    <button type="submit">登録</button>
  </div>
</form>
</body>
</html>